{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title%}SAGET {% endblock %}
  </title>
   
  <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    
</head>
<body>
  <header>
      
    <div class="menu_bar">
     
    </div>
    <section class="wrapper">
      
      <nav>
        <ul>
          <li><a href="#">Reportes</a></li>
          <li><a href="#">Proyectos</a>
            <!--<ul> 
              <li><a href="#">Informe de cumplimiento coclectivo</a></li>
                
             
            </ul>-->
          </li>
          <li><a href="#">Tareas</a></li>
          <li><a href="#">Objetivos Principales</a></li>
        </ul>
      </nav>
      </section>
  
  </header>
  {% block content %}

  {% endblock %}

  <!--<footer id="foot">
    <img id="etecs" src="{% static 'img/etecsa2.png'%}" >
  </footer>-->
</body>

